/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-weight: 400;
}

body {
    line-height: 1.1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;   
}

nav ul {
    list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:''; content:none;

}
/*  END RESET */

body {
    width: 95%;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}
#topbar {
    display: grid;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: #a8ddb3;
    width: 95%;
    height: 130px;
    position: fixed;
    z-index: 2;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:     
        "biotexlogo menulogo bent";
    
}

#menubiotex {
    height: 100px;
    width:auto;
    
}

#divmenubiotex{
    grid-area: biotexlogo;
    margin-right: auto;
    align-self: center;
}

#menulogo {
    height: 80px;
    width: auto;
}

#divmenulogo{ 
    grid-area: menulogo;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

#menubent {
    height: 100px;
    width: auto;
}

#divmenubent{
    grid-area: bent;
    margin-left: auto;
    align-self: center;
}

#main {
    
    display: grid;
    background-color: #fff;
    z-index: 1;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas:
    
        "mvaskehal mvaskehal"
        "mbentpre mbentpre"
        "mur mcolorful"
        "mcafe mcafe"
        "tidsspilde tidsspilde"
        "smaat smaat"
        "smaattekst smaattekst"
        "brugboldenm brugboldenm"
        "bbtekst bbtekst"
        "cool cool"
        "cooltekst cooltekst"
        "fhverdagm fhverdagm"
        "farvetekst farvetekst"
        "socksm socksm";    
}

#mvaskehal {
    width: 100%;
    height: auto;
    
}

#divmvaskehal {
    margin-top: 138px;
    grid-area: mvaskehal;
}

#mbentpre {
    width: 100%;
    background-color: #a8ddb3;  
}

#divmbentpre {
    grid-area: mbentpre; 
}

#boldenm {
    width: 100%;
    background-color: #dddddd;        
}

#divboldenm{
    grid-area: mur;
}

#mcolorful {
    width: 100%;
    height: auto;
    background-color: #dddddd;        
}

#divmcolorful{
    grid-area: mcolorful;
}

#mcafe {
    width: 100%;
    height: auto;
}

#divmcafe{ 
    grid-area: mcafe;
}

#tidsspilde {
    background-color: #a8ddb3;
    font-weight: normal;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    font-family: 'Merriweather', serif;
    color: #28212e;
}

#divtidsspilde{
    grid-area: tidsspilde; 
}

h1{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 1.8em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    color: black;

}

#smaatm{
    width: 100%;
    height: auto;  
}

#divsmaatm{
    grid-area: smaat;
}

#smaattekst{ 
    background-color: #a8ddb3;
    font-weight: normal;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    font-family: 'Merriweather', serif;
    color: #28212e;
}

#divsmaattekst{
    grid-area: smaattekst;
}

#brugboldenm{
    width: 100%;
    height: auto;
    background-color: #dddddd   
}

#divbrugboldenm{
    grid-area: brugboldenm;
}

#bbtekst{
    background-color: #a8ddb3;
    font-weight: normal;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    font-family: 'Merriweather', serif;
    color: #28212e;    
}

#divbbtekst{
    grid-area: bbtekst;
}

#coolm{
    width: 100%;
    height: auto;
}

#divcoolm{
    grid-area: cool;
}

#cooltekst {
    background-color: #dddddd;
    font-weight: normal;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    font-family: 'Merriweather', serif;
    color: #28212e;    
}

#divcooltekst{
    grid-area: cooltekst;
}

#fhverdagm {
    width: 100%;
    height: auto;
    
}

#divfhverdagm{
    grid-area: fhverdagm;
}

#farvetekst {
    background-color: #a8ddb3;
    font-weight: normal;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    font-family: 'Merriweather', serif;
    color: #28212e;
}

#divfarvetekst{
    grid-area: farvetekst;
}

#socksm{
    width: 100%;
    height: auto;
}

#divsocksm{
    grid-area: socksm;
}

footer { 
    
    grid-area: farvetekst;
    background-color: #a8ddb3;
    font-weight: normal;
    font-size: 0.8em;
    padding: 0.5em;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #28212e;
}


#tvaskehal, #tbentpre, #boldent, #tcolorful, #tcafe, #tidsspildet, #smaatt, #brugboldent, #coolt,#fhverdagt, #sockst  {
    display: none; 
}

@media screen and ( min-width: 600px) {
    
    #mvaskehal, #mbentpre, #boldenm, #mcolorful, #mcafe, #tidsspildem, #smaatm, #brugboldenm, #coolm,#fhverdagm, #socksm  {
        display: none;
    }
    
    #main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "tvaskehal tvaskehal tvaskehal"
            "tbentpre tbentpre tbentpre"
            "coolt boldent tcolorful"
            "tcafe tcafe tcafe"
            "tidsspild tidsspild tidsspild"
            "smaatt smaatt smaatt"
            "smaattt smaattt smaattt"
            "brugboldent brugboldent brugboldent"
            "boldtekst boldtekst boldtekst"
            "coolt coolt coolt"
            "koldtekst koldtekst koldtekst"
            "hverdagt hverdagt hverdagt"
            "farve farve farve"
            "sockst sockst sockst";
} 

#tvaskehal{
    display: block;
    width: 100%;
    height: auto;
    margin-top: 138px;
} 

#divtvaskehal{
    grid-area: tvaskehal;  
}    

#tbentpre{
    display: block;
    width: 100%;
    height: auto;
    
}

#divtbentpre{
    grid-area: tbentpre;
}
 
#coolt{
    display: block;
    width: 100%;
    height: auto;  
}    
    
#divcoolt{
    grid-area: coolt;    
}    
    
#boldent{
    display: block;
    width: 100%;
    height: auto;     
}    

#divboldent{
    grid-area: boldent;
}    
    
#tcolorful{
    display: block;
    width: 100%;
    height: auto;     
}    

#divtcolorful{ 
    grid-area: tcolorful;
}    

#tcafe{
    display: block;
    width: 100%;
    height: auto;     
}    
    
#divtcafe{
    grid-area: tcafe;    
}    
    
#divtidsspilde{
    grid-area: tidsspilde;    
}    
    
#smaatt{
    display: block;
    width: 100%;
    height: auto;
}    

#divsmaatt{
    grid-area: smaatt; 
}    

#brugboldent{ 
    display: block;
    width: 100%;
    height: auto;
}    

#divbrugboldent{
    grid-area: brugboldent;    
}    

#fhverdagt{
    display: block;
    width: 100%;
    height: auto;  
}    

#divhverdagt{ 
    grid-area: hverdagt;
} 

#sockst{ 
    display: block;
    width: 100%;
    height: auto; 
}   
    
divsockst{
    grid-area: sockst;    
}    

#tidsspilde{
    grid-area: tidspild;
}    

#smaattekst{
    grid-area: smaattt;    
}    

#bbtekst{
    grid-area: boldtekst;    
}

#cooltekst{
    grid-area: koldtekst;    
}    

#farvetekst{
    grid-area: farve;    
}    
    
}
    

    