/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-weight: 400;
}

body {
    line-height: 1.1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;   
}

nav ul {
    list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:''; content:none;

}
/*  END RESET */


#topbar {
    display: grid;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: a8ddb3;
    width: 95%;
    position: fixed;
    right: 0;
    left:0;
    z-index: 2;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:     
        "biotexlogo menulogo bent";
    height: 130px;
        
}


#menubiotex {
    height: 100px;
    width:auto;
    grid-area: biotexlogo;
    display: block;
    margin-right: auto;
    align-self: center;
}

#menulogo {
    height: 80px;
    width: auto;
    grid-area: menulogo;
    display: block;
    margin-right: auto;
    margin-left: auto;
    align-self: center;

}

#menubent {
    height: 100px;
    width: auto;
    grid-area: bent;
    display: block;
    margin-left: auto;
    align-self: center;

    
}

.main {

    display: grid;
    width: 95%;
    position: absolute;
    right: 0;
    left:0;
    z-index: 1;
    margin: auto;
    align-self: center;
    margin-top: 138px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-gap: 8px;
    grid-template-areas:     
        
        " vaskehal "
        " bentpre bentpre "
        " ur colorful"
        ". colorful";
    
    }

#vaskehal {
    
    grid-area: vaskehal;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#bentpre {
    
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: a8ddb3;
    grid-area: bentpre;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;

    }

#ur {
    
    border-width: 1px;
    border-style: solid;
    border-color: black;
    grid-area: ur;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;

    
}

#colorful {
    
    border-width: 1px;
    border-style: solid;
    border-color: black;
    grid-area: colorful;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;

    

}
    
